<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Operation "Crackhole"</title>
    <link rel="icon" href="https://cdn.myanimelist.net/s/common/uploaded_files/1459752534-f2e3285997da9b3b9eaf9c27ab307536.png">
    <link rel="stylesheet" href="../static/css/style.css">
    <body>
      <div>Думаешь все так просто?))</div>
      <!--ладно не буду мучать, последний раз 0J3QsNC/0LjRiNC4INCc0LDRgNC60YM6INCz0L7QvdC4INCz0L7Qu9C00YMg0LvQtdC/0YDQuNC60L7QvQ== -->
    </body>
</html>
