<!DOCTYPE html>
<!--0JvQsNC00L3QviDRg9C20LUg0LHQu9C40LfQutC+OiDQstC+0YIg0LTQstCwINC60LvRjtGH0LAsINGH0YLQviDRgSDQvdC40LzQuCDQtNC10LvQsNGC0Ywg0YDQtdGI0LDRgtGMINGC0LXQsdC1OiAKOGU2OWIzZjEwODZiZDEyNGY5M2VkZDgyYmUxMDIyZGJkNTQ1M2Y4ZmM0MWMyYjdmMTZhOTFmMGFhZWI2NTZlNgo1M2E5YTJiMTE0NDc5M2YwN2JjNjY0M2Y3NjNmODg4YWViN2YwNWYyYTU1NGNkNzdlZWU5YTk4OTAxMjZjZWE1Ci0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tCjJiZTFjMjQyODkxN2JmZDAyNmM1MGEzODU5MWM1YmMxNjU0YmZiMzNlZjc3YzZhNzU4NzIzMDUwNzg1OTUzMTkKMThiNDdmMmZlOTFiOGM5NTE4NmU1YTg3OTY4NTMyYTU2YzBhNWJkMjcwMWI3ZGQ2YjczMDY4MTdlZWY4ZDM4MQ==
-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Operation "Crackhole"</title>
    <link rel="icon" href="https://cdn.myanimelist.net/s/common/uploaded_files/1459752534-f2e3285997da9b3b9eaf9c27ab307536.png">
    <link rel="stylesheet" href="../static/css/style.css">
    <body>
      <div class="container">
      <h2>Думаешь все так просто?))</h2>
      <a href="http://52.42.127.115/kod2">Go back home</a>
      </div>
    </body>
</html>
