<!DOCTYPE html>
<!--0JvQsNC00L3QviDRg9C20LUg0LHQu9C40LfQutC+Li4uINCS0L7RgiDQtdGJ0LUg0L7QtNC40L0g0LrQu9GO0YcsINGH0YLQviDRgSDQvdC40Lwg0LTQtdC70LDRgtGMINGA0LXRiNCw0YLRjCDRgtC10LHQtTogCjl2aDBxX18pSUAjRjlmaDgyODhodjdxMHYwYTdoZHY3cTM0MHY3aHF2ODBxZTk4dnEtdj11di1xPXY5MHVxLTl2OA==
-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Operation "Crackhole"</title>
    <link rel="icon" href="https://cdn.myanimelist.net/s/common/uploaded_files/1459752534-f2e3285997da9b3b9eaf9c27ab307536.png">
    <link rel="stylesheet" href="../static/css/style.css">
    <body>
      <div class="container">
      <h2>Думаешь все так просто?))</h2>
      <a href="http://52.42.127.115/kod2">Go back home</a>
      </div>
    </body>
</html>
